@page
@model CreateRecipeModel
@{
    ViewData["Title"] = "New Recipe";
}
<h2>@ViewData["Title"]</h2>

@if (Model.DisplayErrorMessage)
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(@Model.ErrorMessage)
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.Name">Name</label>
                <input asp-for="Recipe.Name" class="form-control" placeholder="Enter recipe name">
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Serves">Serves</label>
                <input asp-for="Recipe.Serves" class="form-control">
                <span asp-validation-for="Recipe.Serves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Ingredients</label>
                <div class="input-group mb-3">
                    <input id="tbIngredient" type="text" class="form-control" placeholder="Enter an ingredient" aria-label="Ingredient" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="addIngredient()">Add</button>
                    </div>
                </div>
                <ul id="lstIngredients" class="list-group">
                    
                </ul>
            </div>
            <div class="form-group">
                <label>Method</label>
                <div class="input-group mb-3">
                    <input id="tbMethodStep" type="text" class="form-control" placeholder="Enter a step" aria-label="Ingredient" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="addMethodStep()">Add</button>
                    </div>
                </div>
                <ul id="lstMethod" class="list-group">
                    
                </ul>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>