@page
@model IndexModel
@{
    ViewData["Title"] = "Recipes";
}
<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Created by</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model.Recipes)
        {
            <tr>
                <td><a asp-page="/RecipeDetails">@Html.Raw(recipe.Name)</a></td>
                <td>@Html.Raw(recipe.CreatedBy.FullName)</td>
            </tr>
        }
    </tbody>

</table>